@font-face {
  font-family: "Cormorant";
  src: url('../fonts/Cormorant-Regular.ttf') format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Cormorant";
  src: url('../fonts/Cormorant-Bold.ttf') format("truetype");
  font-weight: bold;
}

body {
  font-family: Cormorant;
  font-weight: normal;
  font-style: normal;
  color: #333;
  margin: 0;
  padding: 0;

  .content {
    padding: 0 10px;
  }

  .container {
    margin: auto;
  }

  a,
  a:link,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
  a:hover,
  a.active {
    color: #ff813d;
  }

  p {
    font-size: inherit;
  }
}
