/* ---- glightbox override --- */
.goverlay,
.glightbox-mobile .goverlay {
  background-color: #fff;
}

.glightbox-clean .gslide-media { box-shadow: none; }
.glightbox-clean .gprev,
.glightbox-clean .gnext,
.glightbox-clean .gclose,
.glightbox-clean .gprev:hover,
.glightbox-clean .gnext:hover,
.glightbox-clean .gclose:hover {
  background-color: transparent;
}

/* ---- */

.gdesc-inner {
  .categories {
    font-weight: bold;
    margin-bottom: 15px;
    span {
      margin-right: 20px;
    }
  }
}
