.grid {
  max-width: 1000px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer {
  width: 33.333%;
}
.grid-item {
  width: calc(33.333% - 10px);
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .grid-sizer { width: 50%; }
  .grid-item { width: calc(50% - 10px); }
}

.grid-item {
  float: left;

  .overlay-cover {
    position: absolute;
    background-color: #fff;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: 7;
    width: 101%;
    height: 101%;

    &:hover {
      opacity: .3;
    }
  }

  img {
    display: block;
    max-width: 100%;
    transition: filter .3s;
  }
}

.page-load-status {
  display: none; /* hidden by default */
  position: relative;
  height: 160px;
}
