header {
  text-align: center;

  nav.menu {
    margin-top: 50px;
    margin-bottom: 70px;
    font-size: 20px;

    @media screen and (max-width: 767px) {
      & {
        margin-top: 30px;
        margin-bottom: 40px;
      }
    }
  }

  nav.menu {
    position: relative;
    z-index: 2;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    ul.menu-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      padding: 0;
      position: relative;
      list-style-type: none;

      li {
        margin: 0 20px;
      }
    }

    .nav-toggle{
    	position: absolute;
    	top:0;
    	left: 50%;
      transform: translateX(-50%);
      width:50px;
    	height:50px;
    	cursor:pointer;

      &.active {
        .icon-bar:nth-child(1) {
          top: 24px;
          transform: rotate(45deg);
        }
        .icon-bar:nth-child(2) {
          width: 0;
        }
        .icon-bar:nth-child(3) {
          top: 24px;
          transform: rotate(-45deg);
        }
      }
    }
    span.icon-bar{
      transition-duration: .3s;

    	position:absolute;
    	right:12px;
    	display:block;
    	width:26px;
    	height:2px;
    	background-color:#000;

      &:nth-child(1){
        top:17px;
      }
      &:nth-child(2){
        top:24px;
      }
      &:nth-child(3){
        top:31px;
      }
    }
  }
  .nav-overlay {
    z-index: 2;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: #fff;
    z-index:1;
    opacity:0;
    visibility:hidden;
    transition: opacity .3s ease, visibility .3s ease;

    &.active {
      opacity: .8;
      visibility:visible;
    }
  }

  @media screen and (max-width: 767px) {
    nav.menu {
      display: block;
    }
    ul.menu-list{
      position:absolute;
      top:50px;
      width:100%;
      height:0;
      padding:0;
      overflow:hidden;

      &.active {
        height: auto;
      }
      li {
        width: 100%;
        line-height: 2.5;

        a {
          width:100%;
          padding:0;
          text-align:center;
        }
      }
    }
    .nav-toggle{
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    .nav-overlay.active{
      visibility:hidden;
      opacity:0;
    }
    .nav-toggle{
      display: none;
    }
  }
}
