.page {
  max-width: 900px;
  margin: auto;

  &.contact {
    text-align: center;
    margin-top: 150px;
  }
}

ul.pagination {
  opacity: 0;
}

.content {
  .highlight {
    pre {
      padding: 15px;
    }
  }
}
