{{ .Scratch.Set "css" (index .Site.Data.manifest "app.css") }}
{{ .Scratch.Set "js" (index .Site.Data.manifest "app.js") }}
<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="container content">
    {{ partial "header.html" . }}
    {{ block "main" . }}
      {{ .Content }}
    {{ end }}
  </div>
  {{ partial "scripts.html" . }}
</body>
