{{ define "main" }}
{{ template "partials/pagination.html" . }}
  <div class="container grid">
    <div class="grid-sizer"></div>
    <div class="grid-wrapper">
      {{ range where ( .Paginator 5 ).Pages "Section" "portfolio" }}
        <div class="grid-item">
          <a class="glightbox"
            {{ if .Site.Params.showDescription }}
              data-title="{{ .Title }}"
              data-description=".desc-{{ .File.UniqueID }}"
              data-desc-position="{{ .Site.Params.descPosition | default "bottom" }}"
            {{ end }}
            data-gallery="gallery"
            data-zoomable="{{ .Site.Params.galleryZoomable | default "true" }}"
            href="{{ .Site.BaseURL }}portfolio/images/full/{{ .Params.image }}">
              <div class="overlay-cover"></div>
              <img src="{{ .Site.BaseURL }}portfolio/images/thumb/{{ .Params.image }}" alt="{{ .Title }}">
          </a>
          {{ if .Site.Params.showDescription }}
            <div class="glightbox-desc desc-{{ .File.UniqueID }}">
              {{ if .Site.Params.showCategories | default "true" }}
                <div class="categories">{{ range .Params.categories }}<span>{{ . }}</span>{{ end }}</div>
              {{ end }}
              {{ if .Site.Params.showTags | default "true" }}
                <div class="tags">{{ range .Params.tags }}<span>#{{ . }} </span>{{ end }}</div>
              {{ end }}
              {{ .Content }}
            </div>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
  <div class="page-load-status">
    <div class="dl infinite-scroll-request">
      <div class="dl__container">
        <div class="dl__corner--top"></div>
        <div class="dl__corner--bottom"></div>
      </div>
      <div class="dl__square"></div>
    </div>
  </div>
{{ end }}
