<header>
  <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
  <nav class="menu">
    <ul class="menu-list">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      {{ $isCurrent := (eq (trim $currentPage.RelPermalink "/") (trim .URL "/")) }}
      <li class="menu-item"><a href="{{ .URL }}" {{ if $isCurrent }}class="active"{{ end }}>{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <div class="nav-toggle">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
  </nav>
  <div class="nav-overlay"></div>
</header>
