<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}{{ with .Params.Title }} | {{ . }}{{ end }}</title>
<meta name="description" content="{{ .Site.Params.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index,follow">

<!-- Opengraph -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink | absURL }}">
<meta property="og:title" content="{{ .Site.Title }}{{ with .Params.Title }} | {{ . }}{{ end }}">
<meta property="og:description" content="{{ .Description }}">
<meta property="og:image" content="">
<meta property="og:site_name" content="{{ .Site.Title }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ .Permalink | absURL }}">
<meta property="twitter:title" content="{{ .Site.Title }}{{ with .Params.Title }} | {{ . }}{{ end }}">
<meta property="twitter:description" content="{{ .Description }}">
<meta property="twitter:image" content="">

<link rel="stylesheet" href="{{ print .Site.BaseURL (.Scratch.Get "css") }}">
